<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Timeline</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="notification">
                <div class="field has-addons">
                    <div class="control has-icons-left">
                        <div class="select" v-cloak>
                            <select v-model="selected">
                                <option v-for="option in options" v-bind:value="option.value">
                                    {{ option.text }}
                                </option>
                            </select>
                        </div>
                        <span class="icon is-left">
                            <i class="fa fa-globe"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <section class="timeline">
            <ul>
                <template v-for="item in items">
                    <li v-bind:class="{ 'li-spacer': item.showYear }">
                        <span v-show="item.showYear" class="year">{{ item.year }}</span>
                        <div>
                            <time>{{ item.month }}</time> 
                            {{ item.title }}
                        </div>
                    </li>
                </template>
            </ul>
        </section>
    </div>

    <script src="app.js"></script>

</body>

</html>